* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #b22222;
    --secondary-color: black;
    --tertiary-color: grey;
}

/* body */

body {
    background-color: var(--secondary-color);
}

/* header */

header {
    padding: 25px 35px; 
    justify-content: space-between;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 200px;
    width: 100%;
}

header h1 {
    font-weight: bold;
    font-size: 60px;
    font-style: italic;
    margin: 0;
    color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
}

header a {
    text-decoration: none;   /* no line under link */
}

section {
    padding: 30px;   /* all sections */
}

/* navigation */

header nav {
    margin: 7px;
    
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.85vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: var(--primary-color);
}

header nav ul li a:hover {
    color: var(--tertiary-color);
    font-size: 30px;
}
/* navigation end */


/* hero */

.hero {  /* title */
    display: flex;
    flex-wrap: wrap;
    color: var(--primary-color);
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    font-size: 25px;
    -webkit-text-stroke:1px rgba(0, 0, 0, 0.5);
}

/* about me */
.container {
    display: flex;
    flex-wrap: none;
    padding-top: 30px;
}

#mypic {
    height: 300px;
    padding-left: 30px;
}

.about h2 {    
    font-size: 40px;
    text-align: center;
    border-bottom: 1px dashed var(--tertiary-color);
    color: var(--primary-color);
}

.container p {
    text-align: left;
    padding: 60px;
}

/* my work */

.work {   /* h2 */
    font-size: 40px;
    text-align: center;
    border-bottom: 1px dashed var(--tertiary-color);
    color: var(--primary-color);
}

.mywork {   /* all my work */
    
    position: relative;
    text-decoration: none;
    color: var(--secondary-color);  /* ext color */
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    height: 250px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px; /* rounded corners */
    opacity: 0.6;
    font-size: 40px;
    -webkit-text-stroke: 2px rgba(243, 6, 6, 0.5);
    text-decoration: bold;
    
}

.mywork:hover {
    opacity: 1.0;
    font-size: 50px;
}

.mywork div { /* all of my work*/
    position: absolute;
    left: 10px;
}

.mywork p {
    font-size: 20px;
}

#rb {   /*run buddy */
    background-image: url("../images/run-buddy-screenshot.png");
    background-position: top;
    height: 350px;
    padding-top: 150px;
}

#surf { /* surf report */
    background-image: url("../images/beach.png");
    background-position: center; 
    padding-top: 100px;
}
    
#led { /* led wall */
    background-image: url("../images/led.png");
    background-position: center; 
    padding-top: 100px;
}

#calc { /* calculator */
    background-image: url("../images/calc.png");
    background-position: center;
    padding-top: 100px;
}

#pastel { /* pastel puzzles */
    background-image: url("../images/puzzle.png");
    background-position: center;
    padding-top: 100px;
}

/* sections */
section p {      /* all section p */
    font-size: 20px;
    color: var(--tertiary-color);
}

section a {
    text-decoration: none;   /* no line under link */
    padding: 8px;
}


/* contact me */

.contact {
    text-align: center;
    padding-bottom: 20px;
    font-size: 40px;
    color: var(--primary-color);
}

.contacts {
    text-align: center;
    font-size: 18px;
    padding: 80px;
}

.contacts a {
    text-decoration: none;
    color: var(--primary-color);
    font-style: none;
}

.contacts a:hover {
    font-size: 30px;
    color: var(--tertiary-color);
}


/* media query for smaller desktop screens and smaller */

@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        position: relative;
    }

    header nav ul {
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px; 
    }

    .contacts a {
        font-size: 20px;
    }

}

