* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: orange;
    --secondary-color: black;
    --tertiary-color: gray;
}



/* body */

body {
    background-color: white;
}

/* header */

header {
    padding: 25px 35px; 
    background-color: white;
    color: black;
    justify-content: space-between;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 200px;
    width: 100%
    
    

}

header h1 {
    font-weight: bold;
    font-size: 60px;
    font-style: italic;
    margin: 0;
    color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
}

header a {
    text-decoration: none;   /* no line under link */
}

section {
    padding: 50px;   /* all sections */
}


/* navigation */

header nav {
    margin: 7px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: var(--primary-color);
}



/* hero */

.hero {  /* cool quote */
    background-image: url("../images/background.jpg"); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}



.about { 
    /* about me */

}

.mywork {   /* all my work */
    
    position: relative;
    border: 2px solid var(--tertiary-color);
    font-size: 25px;
    text-decoration: none;
    color: var(--primary-color);  /* ext color */
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    height: 300px;
    width: 90%; 
    margin-left: 50px;
    margin-right: 50px;
}

.mywork div {
    position: absolute;
    left: 10px;
}
    


#rb {   /*run buddy */
    background-image: url("../images/run-buddy-screenshot.png");
    background-position: top;
    height: 350px;
    padding-top: 150px;
    
}


#surf {
    background-image: url("../images/beach.png");
    background-position: center;
    padding-top: 125px;
}
    

#led {
    background-image: url("../images/led.png");
    background-position: center; 
    padding-top: 125px;
}

#calc {
    background-image: url("../images/calc.png");
    background-position: center;
    padding-top: 125px;
    
}

#pastel {
    background-image: url("../images/puzzle.png");
    background-position: center;
    padding-top: 125px;
    
}


/* sections */
section p {      /* all section p */
    font-size: 18px;
    color: var(--tertiary-color);
}

section a {
    text-decoration: none;   /* no line under link */
    padding: 8px;
}

/* about me */
.about h2 {    
    font-size: 30px;
    text-align: center;
    border-bottom: 1px solid;
}

.about p {
    padding-top: 40px;
    text-align: center;
}

/* my work */
.work {  
        font-size: 30px;
        text-align: center;
        border-bottom: 1px solid;
    }


/* contact me */

.contact {
    text-align: center;
    padding-bottom: 20px;
    font-size: 30px;
    
}

.contacts {
    text-align: center;
    font-size: 18px;
    padding: 80px;
    
}

.contacts a {
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;  
}


/* media query for smaller desktop screens and smaller */

@media screen and (max-width) {
    header {
        padding-bottom: 0;
    }
}